<h2>create new-celebrity page</h2>
<form method="POST" action="/celebrities/create">
  <label>
    Celebrity name:
    <input type="text" placeholder="name of celeb..." name="name" />
  </label>
  <label>occupation:
    <input type="text" placeholder="occupation of celeb..." name="occupation" />
  </label>
  <label>catchPhrase:
    <input type="text" placeholder="catch phrase of celeb..." name="catchPhrase" />
  </label>
  <button type="submit">Add new celebrity</button>
</form>