<h1>Welcome to {{title}}</h1>
<img id="logo" src="https://user-images.githubusercontent.com/23629340/40541063-a07a0a8a-601a-11e8-91b5-2f13e4e6b441.png" alt="Ironhack Logo" />

<!--<a href="/celebrities/create">Add Celebrity</a>
<a href="/celebrities">check celebrities</a>
<a href="/movies/create">Add movie</a>
<a href="/movies">check movies</a>-->